<header class="header">
  <div class="container">
    <img class="logo" src="assets/images/logo.jpg" alt="TechStart Logo" />
    <nav class="nav">
      <a routerLink="/home" routerLinkActive="active">Início</a>
      <a [routerLink]="['/home']" fragment="solucoes">Soluções</a>
      <a [routerLink]="['/home']" fragment="empresas">Empresas</a>
      <a [routerLink]="['/home']" fragment="estudantes">Estudantes</a>
    </nav>
    <div class="">
      <button
        pButton
        label="Login"
        class="p-button-text"
        (click)="goToLogin()"
      ></button>
      <button
        pButton
        label="Registrar"
        class="p-button-rounded btnRegistrar"
        (click)="goToRegister()"
      ></button>
    </div>
  </div>
</header>

<div class="login-container" [@pageAnimation]>
  <p-card styleClass="login-card shadow-5">
    <ng-template pTemplate="header">
      <div class="card-header">
        <h2 *ngIf="!isForgotPasswordMode && !isCodeMode">Seja bem-vindo(a)</h2>
        <h2 *ngIf="isForgotPasswordMode && !isCodeMode">Recuperar senha</h2>
        <h2 *ngIf="isCodeMode">Redefinir senha</h2>

        <p *ngIf="!isForgotPasswordMode && !isCodeMode">Faça login para continuar</p>
        <p *ngIf="isForgotPasswordMode && !isCodeMode">
          Informe seu e-mail para receber o código de redefinição
        </p>
        <p *ngIf="isCodeMode">
          Digite o código recebido e escolha sua nova senha
        </p>
      </div>
    </ng-template>

    <!-- ===================== -->
    <!-- LOGIN NORMAL -->
    <!-- ===================== -->
    <form *ngIf="!isForgotPasswordMode && !isCodeMode" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">
        <div class="field">
          <label for="email">E-mail</label>
          <input id="email" type="email" pInputText formControlName="email" placeholder="seuemail@exemplo.com" />
          <div *ngIf="email?.invalid && (email?.touched)" class="input-error">
            <small *ngIf="email?.hasError('required')">E-mail é obrigatório.</small>
            <small *ngIf="email?.hasError('email')">Informe um e-mail válido.</small>
          </div>
        </div>

        <div class="field">
          <label for="password">Senha</label>
          <input id="password" type="password" pInputText formControlName="password" placeholder="Sua senha" />
          <div *ngIf="password?.invalid && (password?.touched)" class="input-error">
            <small *ngIf="password?.hasError('required')">Senha é obrigatória.</small>
            <small *ngIf="password?.hasError('minlength')">A senha deve ter pelo menos 8 caracteres.</small>
          </div>
        </div>

        <div class="forgot-password-container cursor-pointer">
          <a (click)="toggleForgotPassword()">Esqueci minha senha</a>
        </div>
      </div>
    </form>

    <!-- ===================== -->
    <!-- PASSO 1: PEDIR CÓDIGO -->
    <!-- ===================== -->
    <form *ngIf="isForgotPasswordMode && !isCodeMode" [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
      <div class="p-fluid">
        <div class="field">
          <label for="forgotEmail">E-mail</label>
          <input id="forgotEmail" type="email" pInputText formControlName="email" placeholder="seuemail@exemplo.com" />
          <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.touched)" class="input-error">
            <small *ngIf="forgotPasswordForm.get('email')?.hasError('required')">E-mail é obrigatório.</small>
            <small *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Informe um e-mail válido.</small>
          </div>
        </div>


        <button pButton label="Gerar código" type="submit" class="w-full" [loading]="loading"
        [disabled]="forgotPasswordForm.invalid || loading"></button>

        <div class="text-center mt-3 cursor-pointer ">
          <a (click)="toggleForgotPassword()">Voltar ao login</a>
        </div>
      </div>
    </form>

    <!-- ===================== -->
    <!-- PASSO 2: VALIDAR CÓDIGO + NOVA SENHA -->
    <!-- ===================== -->
    <form *ngIf="isCodeMode" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()">
      <div class="p-fluid">
        <div class="field">
          <label for="code">Código de verificação</label>
          <input id="code" type="text" maxlength="6" pInputText formControlName="code" placeholder="Ex: 482193" 
          (keypress)="allowOnlyNumbers($event)"/>
          <div *ngIf="resetPasswordForm.get('code')?.invalid && (resetPasswordForm.get('code')?.touched)" class="input-error">
            <small *ngIf="resetPasswordForm.get('code')?.hasError('required')">O código é obrigatório.</small>
            <small *ngIf="resetPasswordForm.get('code')?.hasError('minlength')">O código deve ter 6 dígitos.</small>
            <small *ngIf="resetPasswordForm.get('code')?.hasError('maxlength')">O código deve ter 6 dígitos.</small>
          </div>
        </div>

        <div class="field">
          <label for="newPassword">Nova senha</label>
          <input id="newPassword" type="password" pInputText formControlName="newPassword" placeholder="Nova senha" />
          <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched" class="input-error">
            <small *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">A nova senha é obrigatória.</small>
            <small *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">A senha deve ter pelo menos 8 caracteres.</small>
            <small *ngIf="resetPasswordForm.get('newPassword')?.hasError('weakPassword')">
              A senha deve conter letras maiúsculas, minúsculas, números e caracteres especiais.
            </small>
          </div>
        </div>

        <button pButton label="Redefinir senha" type="submit" class="w-full" [loading]="loading"></button>

        <div class="text-center mt-3 cursor-pointer">
          <a (click)="cancelReset()">Cancelar</a>
        </div>
      </div>
    </form>

    <!-- FOOTER -->
    <ng-template pTemplate="footer">
      <button *ngIf="!isForgotPasswordMode && !isCodeMode"
        pButton 
        type="submit" 
        label="Entrar" 
        [loading]="isLoggingIn"
        [disabled]="loginForm.invalid || isLoggingIn"
        (click)="onSubmit()"
        class="w-full">
      </button>

      <div *ngIf="!isForgotPasswordMode && !isCodeMode" class="mt-4 text-center">
        <span>Não tem uma conta? </span>
        <a (click)="goToRegister()" class="cursor-pointer">Cadastre-se</a>
      </div>
    </ng-template>
  </p-card>
</div>
